body{
	background-image: url(https://cdn-s3.si.com/s3fs-public/2017/11/08/jayson-tatum-injury.jpg);
	text-align: center;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}